# Core functionality - changes here should be rare!
/src/app.py                   @yuewanzhijing
/src/backend/database.py      @yuewanzhijing
/src/backend/routers/auth.py  @yuewanzhijing

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yuewanzhijing
